.site-header {
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1vw;
}

.site-header a {
  text-decoration: none;
  color: white;
  margin: 15px;
}

.site-header a:hover {
  color: yellow;
  text-decoration: none;
}

.header-logo a {
  font-size: 30px;
}

.header-logo {
  flex-grow: 1;
}

.header-links {
  flex-grow: 3;
}

.header-search {
  flex-grow: 1;
}
