@import "palette";

.main-page {
  padding: 15px 0;
  // large screens support
  min-height: calc(100vh - 56px * 2);

  .row {
    margin: 0 0 15px 0;

    &:last-of-type {
      margin: 0;
    }
  }
}
