@import "palette";
@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';

main {
  background-color: grey;

  .container {
    min-height: calc(100vh - 56px * 2);
    background-color: lightgrey;
    padding: 15px;
  }
}

.main-page {
  .row {
    margin: 0 0 15px 0;

    &:last-of-type {
      margin: 0;
    }
  }
}

.post-page {
  .parallax {
    height: 400px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .post-header {
    h2 {
      margin: 0;
    }
    sub {
      bottom: 0;
    }
  }
}
