@import "palette";

body {
  background-color: $light-grey;
  color: $secondary;
}

.main-page {
  width: 100%;
  display: inline-flex;
  margin: 25px 15px;

  .card-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    //https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg

    .card {
      width: 25%;
      margin: 0 15px 15px 0;
      background-color: $background;
      border-color: $background-secondary;

      .card-img-top {
        height: 250px;
        object-fit: cover;
      }
    }
  }
}


