@import "palette";
@import '~bootstrap/scss/functions', '~bootstrap/scss/variables';

.postCard {
  background-color: $dark;
  color: $white;
  padding: 5px;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);

  a {
    color: $main;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .header {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      margin: 0 0 0.5rem 0;
    }

    .tags {
      font-size: 10px;
      margin: 0;
    }

    h5 {
      margin: 0;
    }

    sub {
      bottom: 0;
    }
  }
}
