@import "palette";
@import "~bootstrap/scss/functions", "~bootstrap/scss/variables";

.post-page {
  .nav-tabs {
    // background-color: $gray-500;
    border: 0;
    // border: 1px solid #aaa;

    .nav-item {
      text-align: center;
      flex-grow: 1;
      border: 0;
      
      color: #aaa;
      border-bottom: 2px solid #bbb;
      outline: none;

      transition: all .2s ease;
      
      &:hover {
        color: #888;
        border-bottom: 2px solid #aaa;
      }
    }

    // why?
    .nav-item.active {
      color: $main;
      background-color: inherit;
      
      border-bottom: 2px solid $main;

      transition: all .2s cubic-bezier(.25, .25, .25, 1.25);
    }
  }

  .thumbnail {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 0;
  }

  .post-header {
    margin-top: 1rem;
  }

  // Table of Contents
  .toc {
    background-color: #eee;
    // width: fit-content;
    // padding: 20px 40px 20px 30px;
    padding: 20px;
    border-radius: 15px;

    text-align: center;

    h2 {
      font-size: 25px;
      margin-bottom: 16px;
    }

    ul {
      list-style: circle;
      margin-left: 0;
      padding: 0;
      list-style-type: none;
    }
  }

  .tab-content {
    // border: 1px solid $gray-300;
    //border-top: 0;
    // background-color: $gray-500;
    padding: 10px;

    .row {
      margin-bottom: 1rem;
    }

    .tab-pane.show {
      animation: all 5s ease;
    }
  }

  .em-jumbotron {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }

  ul {
    list-style: disc;
    margin-left: 20px;
  }

  .red {
    color: red;
  }

  .orange {
    color: orange;
  }

  .nav-pills {
    .nav-link.active {
      background-color: $background-secondary;
    }
  }

  .card-header {
    font-weight: bold;
  }

  .anchor {
    svg {
      display: none;
    }
  }

  .image-center {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .image-left {
    img {
      display: block;
      margin-left: 0;
      margin-right: auto;
    }
  }

  .image-right {
    img {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }

  .webm-center {
    video {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .webm-left {
    video {
      display: block;
      margin-left: 0;
      margin-right: auto;
    }
  }

  .webm-right {
    video {
      display: block;
      margin-left: auto;
      margin-right: 0;
    }
  }

  img {
    max-width: 100%;
    margin-bottom: 0.5rem;
  }

  video {
    max-width: 100%;
  }
}
