@import "palette";

$search-width: 330px;

.search {
  // enable for fixed width
  // width: $search-width;
  display: flex;

  input {
    border-radius:0;
  }
}

.searchTerm {
  width: $search-width - 40px;

  background-color: $background;
  color: $secondary;

  padding: 5px;
  border: 3px solid $background-secondary;
  border-left: none;
  outline: none;

  // radius (goes against the rest of the design tho)
  // border-radius: 0 5px 5px 0;

  transition: width 0.4s ease-in-out;
}

.searchTermClosed {
  width: 0;
  border: 0;
  padding: 0;
}

.searchBtn {
  width: 40px;
  height: 40px;

  font-size: 20px;
  text-align: center;

  background: $background-secondary;
  color: $secondary;
  border: 1px solid $background-secondary;

  cursor: pointer;

  // radius (goes against the rest of the design tho)
  // border-radius: 5px 0 0 5px;

  &:focus {
    outline: none;
  }
}

.searchBtnClosed {
  border: none;
  background: none;

  // radius (goes against the rest of the design tho)
  // border-radius: 5px 5px;

  &:hover {
    background: $background-secondary;
    border: 1px solid $background-secondary;
  }
}

.results {
  width: $search-width;
  position: absolute;
  display: block;
  z-index: 1;

  background-color: $background-secondary;

  margin-top: 6px;

  // radius (goes against the rest of the design tho)
  // border-radius: 5px;

  .miniCard {
    display: flex;
    color: $secondary;

    border-bottom: 1px solid $background;

    .miniThumb {
      order: 1;
      img {
        max-width: 120px;
      }
    }

    .rest {
      order: 5;
      margin-left: 10px;
    }

    &:hover {
      background-color: $main;
    }
  }

  ul {
    margin: 0;
  }
}
